<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title">友情链接</div>
    </div>
<!--     <div class="panel-body">
        body
    </div> -->
    <div class="list-group">
        <div *ngFor="let link of friendLinks"  class="list-group-item"><span class="glyphicon glyphicon-record"></span> <a  href="{{link.linkHref}}" >{{link.linkTitle}} </a></div>
    </div>
<!--     <div class="panel-footer">
        footer
    </div> -->
</div>
