<nav>
	<ul class="pagination">
			<li ><a [routerLink]="['/home/index',1]"> 第一页</a></li>
		<li class="previous"><a (click)="prePage()"><span class="glyphicon glyphicon-step-backward"></span></a></li>
		<ng-container *ngFor="let no of pageArray; let i = index">
			    
				<li [class.active]="(current == no)"><a [routerLink]="['/home/index',no]">{{no}}</a></li>
			 
		</ng-container>
		<li class="next"><a (click)="nextPage()"><span class="glyphicon glyphicon-step-forward"></span></a></li>
		<li ><a [routerLink]="['/home/index',total]"> 最后一页</a></li>
		<li class="disabled" ><a>共 {{total}} 页</a></li>
	</ul>
</nav>
