<div class="row">
  <div class="col-md-9">
      <ol class="breadcrumb">
          <li><a class="btn-sm btn-info" (click)="goBack()">返回上一页</a></li>
          <li class="active" *ngIf="currentArticle"> {{currentArticle.postTitle}} </li>
      </ol>
      <div class="page-header">
          <h3  *ngIf="currentArticle"> {{currentArticle.postTitle}} </h3>
          <div class="small" *ngIf="currentArticle">
              <span class="glyphicon glyphicon-user"></span> 作者: {{currentArticle.postAuthor}}
              &nbsp;&nbsp;
              <span class="glyphicon glyphicon-tags"></span> 类别: {{currentArticle.postCatergory}}
              &nbsp;&nbsp;
              <span class="glyphicon glyphicon-calendar"></span> 日期: {{currentArticle.postDate}}
              &nbsp;&nbsp;
              <span class="glyphicon glyphicon-eye-open"></span> 阅读: {{currentArticle.postViewTimes}} 次  
              &nbsp;&nbsp;
              <span class="glyphicon glyphicon-thumbs-up"></span> 赞赏: {{currentArticle.postLikeTimes}} 次 
              &nbsp;&nbsp;
              <span class="glyphicon glyphicon-comment"></span> 评论: {{currentArticle.postComments}} 条
          </div>
          <!-- small line end -->
      </div>
      <!-- page-header end -->

      <div *ngIf="currentArticle" >	
          <div [innerHTML]="currentArticle.postContent"></div>
      </div>
  </div>
  <!-- md-9 end -->
  <div class="col-md-3">
    	<app-links></app-links>
      <app-caterg></app-caterg>  
  </div>  
  <!-- md-3 end -->




</div>  
<!-- row end -->
  




 
