<div class="panel panel-default">
	<div class="panel-heading">
		<div class="panel-title">文章分类</div>
	</div>	
		<div class="panel-body">
			<ng-container *ngFor="let catergory of myCatergory"  >
			<a  class="label label-default" [routerLink]="['/pages/category',catergory.cateId]">{{catergory.cateTitle}}</a>
			</ng-container>
		</div>
	
</div>
