<div class="row">
    <div class="col-md-9">
        <table class="table table-hover">
            <tr *ngFor="let item of lists" ><td>
              <a [routerLink]="['/pages/article/',item.postId]">
              <h4>{{item.postTitle}}</h4> 
              </a>           
                <div class="small">
                  <span class="glyphicon glyphicon-user"></span> 作者: {{item.postAuthor}}
                  &nbsp;&nbsp;
                  <span class="glyphicon glyphicon-tags"></span> 类别: {{item.postCatergory}}
                  &nbsp;&nbsp;
                  <span class="glyphicon glyphicon-calendar"></span> 日期: {{item.postDate}}
                  &nbsp;&nbsp;
                  <span class="glyphicon glyphicon-eye-open"></span> 阅读: {{item.postViewTimes}} 次  
                  &nbsp;&nbsp;
                  <span class="glyphicon glyphicon-thumbs-up"></span> 赞赏: {{item.postLikeTimes}} 次 
                  &nbsp;&nbsp;
                  <span class="glyphicon glyphicon-comment"></span> 评论: {{item.postComments}} 条
                </div>
              
            </td></tr>          
        </table>
       
  
    </div>
    <div class="col-md-3">
      <app-links></app-links>
      <app-caterg></app-caterg>
    </div>
  </div>
  <div class="row">
    <div class="col-md-9"><app-pager></app-pager></div>
    <div class="col-md-3">
    
    </div>
  </div>