<nav class="navbar navbar-default navbar-fixed-top" id="navbar-example">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">TsingPost</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active" ><a routerLink="home" >首页</a></li>
        <!-- <li routerLinkActive="active" ><a routerLink="pages" >inner</a></li> -->
        <li class="dropdown" routerLinkActive="active" id="jq-handle">
          <a class="dropdown-toggle" data-toggle="dropdown" >分类</a>
          <ul class="dropdown-menu">
            <!-- <li class="dropdown-header">科技类</li> -->

            <li *ngFor="let cate of myCatergory"><a [routerLink]="['pages/category',cate.cateId]">{{cate.cateTitle}}</a></li>
      
            <!-- <li class="divider"></li>
            <li class="dropdown-header">科技类</li> -->
            
                        <!-- <li><a>opt1</a></li>
                        <li><a>opt2</a></li> -->
                        <!-- <li class="divider"></li> -->
          </ul>
        </li>
        <li routerLinkActive="active"><a routerLink="pages/timeline">归档</a></li>
        <li routerLinkActive="active"><a routerLink="pages/about">关于</a></li>
        <li routerLinkActive="active"><a routerLink="pages/leavemsg" >留言</a></li>
        

      </ul>
 
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>